FPGA/db
FPGA/greybox_tmp
FPGA/incremental_db
FPGA/Proyecto2Arqui.map.rpt
FPGA/Proyecto2Arqui.done
FPGA/Proyecto2Arqui.flow.rpt
FPGA/Proyecto2Arqui.map.summary
FPGA/Proyecto2Arqui.qsf
FPGA/Proyecto2Arqui.qws
